@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@500&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto Condensed", sans-serif;
}

body{

margin: 0;
padding:0 ;
background-color: #2f3640;
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}

.container{
  width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1) ;
}

.input-container{
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}

Input {
  flex: 1;
  border: none;
  outline: none;
  padding: 16px;
  height: 15px;
} 

.search-icon{
  padding: 10px;
  height: 20px;
  cursor: pointer;
}

.images{
  text-align: center;
  margin-top: 10px;
  
}

.images img{
  width: 200px;
  height: 200px;

} 

.temp,
.city,
.country{
 margin-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

.temp{
  font-weight: 500;
}

.city{
  color: #ffbc00;
  font-weight: 400;
  font-size: 40px;
}

.country{

  font-size: 18px;
  color: #888;
  font-weight: 500;
}

.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.cord div{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span{
  font-size: 14px;
}

.humidity-percentage,
.Wind-percentage,
.cord div span:nth-child(2) {

  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  color: #666;
  
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element{
  text-align: center; 
}

.copyright{

  text-align: center;
  font-size: 15px;
  color: #888;
}

.copyright span{
  color: blue;
}

.city-not-found,
.Loading-message,
.error-message{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}